<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <nav class="navbar navbar-default navbar-fixed-top">
    <!-- Navbar Container -->
    <div class="container">

        <!-- Navbar Header [contains both toggle button and navbar brand] -->
        <div class="navbar-header">
            <!-- Toggle Button [handles opening navbar components on mobile screens]-->
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#exampleNavComponents" aria-expanded"false">
                <i class="glyphicon glyphicon-align-center"></i>
            </button>

            <!-- Navbar Brand -->
            <a href="#" class="navbar-brand">
                Julio Vásquez
            </a>
        </div>
        <!-- Navbar Collapse [contains navbar components such as navbar menu and forms ] -->
        <div class="collapse navbar-collapse" id="exampleNavComponents">

            <!-- Navbar Menu -->
            <ul class="nav navbar-nav navbar-right">
                <li class="active">
                    <a href="#">Home</a>
                </li>
                <li>
                    <a href="/store">Tienda</a>
                </li>
                <li>
                    <a href="#">Contacto</a>
                </li>
        </div>
    </div>
</nav>
    </head>
    <body>
<div class="jumbotron container">
    <div class="photo"><%= image_tag("main_photo.jpg", :class => "main-photo") %></div>
      <div class="container">
        <h1>Julio Vásquez</h1>
        <p class="lead" >Julio Vásquez : Nació en Bonao, RD. Son sus padres Baldomero Vásquez y Silvia Duarte dos laicos comprometidos al servicio del reino de Dios, casados por más de 50 años. Realizó sus estudios superiores en la Universidad abierta para Adultos ( UAPA), en la ciudad de Santiago, graduándose de Licenciado en Derecho, además es comunicador social y locutor. Ha reforzado sus estudios realizando cursos afines, tales como Derecho Internacional Público, Derecho Canónico, Teología, Investigaciones Criminales y varios cursos sobre Periodismo, Mercadeo y el funcionamiento de la iglesia catolica. Es autor de 500 poemas inéditos ha publicado los libros “ Hilvanando Opiniones y 20 Piedras Preciosas” en la actualidad se prepara para publicar “ 33 versos a Jesús” .
      Actualmente reside en Estados Unidos de Norteamérica país del que es ciudadano donde ha logrado destacarse como productor y conductor de programas de radio y televisión. Ha obtenido la aceptación de sus propuestas en múltiples canales de televisión como la Familia Cosmovision, Televisión Dominicana y Time Warner Cable. Ha sido reconocido por su trabajo en los medios de comunicación por entidades de prestigio como el Consulado Dominicano de Nueva York, y la Oficina del Presidente del Condado de Manhattan Scott M. Stringer.</p>
    </div>
  </div>
</div>
  </body>
</html>