<footer id="footer" class="row footer" data-hook>
  <hr>
  <div id="footer-left" class="col-md-6" data-hook>
    <div>
      <%= Spree.t :created_by  %> <%= link_to 'juliovasquedev.com', 'http://www.juliovasquezdev.com/' %>
    </div>
  </div>
  <div id="footer-right" class="col-md-6" data-hook></div>
</footer>
